@using RestaurantBookingSystemMVC.Models.MenuItem
@model List<MenuItem>

@{
    ViewData["Title"] = "Menu";
}

@if (Model != null)
{
    <section class="homepage-container menupage-hero-image">
        <section class="menu-section">
            <h2 class="display-2 text-light"><strong>Menu</strong></h2>

            @foreach (var category in Model.Select(m => m.Category).DistinctBy(c => c.Id))
            {
                <article class="menu-item-category-container">
                    <h4 class="display-6 text-light">@category.Name</h4>

                    <section class="popular-menu-items">
                        @foreach (var item in Model.Where(i => i.Category.Id == category.Id))
                        {
                            <article class="card bg-light mb-3 card-margin" style="max-width: 20rem">
                                <div class="card-body">
                                    <h4 class="card-title">@item.Name</h4>
                                    <p class="card-text">@item.Description</p>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.Price kr</h6>
                                </div>
                            </article>
                        }
                    </section>
                </article>
            }

        </section>
    </section>
}
else
{
    <section class="homepage-container">
        <section class="menu-section">
            <h2 class="display-2 text-dark"><strong>Menu</strong></h2>

            <p>
                Oh no, something went wrong loading the menu!
            </p>
        </section>
    </section>
}
