.admin-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 75vh;
}

.admin-nav-wrapper {
    display: flex;
    background-color: lightgray;
    padding: 1rem;
    border-right: 1px solid gray;
    width: auto;
}
.admin-nav ul li {
    border-bottom: 1px dashed black;
}

.admin-content-window {
    padding: 1rem;
}

.modal-background-gray {
    background-color: #d3d3d363;
    padding: 0.5rem;
}