@using RestaurantBookingSystemMVC.Models.Reservation
@{
    ViewData["Title"] = "Admin Reservation Create";
    Layout = "_AdminLayout";
}
@model NewReservationDTO;

<section class="admin-content-window">
    <h3 class="display-3">Create Reservation</h3>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="NumberOfGuests"></label>
            <input asp-for=NumberOfGuests class="form-control" />
            <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateAndTime"></label>
            <input asp-for=DateAndTime class="form-control" />
            <span asp-validation-for="DateAndTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerEmail"></label>
            <input asp-for=CustomerEmail class="form-control" />
            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerName"></label>
            <input asp-for=CustomerName class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerPhone"></label>
            <input asp-for=CustomerPhone class="form-control" />
            <span asp-validation-for="CustomerPhone" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
</section>

